/*
header #707070
black box #000000
yellow text #E9E05F
light green boxes #A4FFD7
orange boxes #FFC36C
*/

* {
	max-width: 97.5vw;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	width: 100vw;
	padding: 10px 0px;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #707070;
	color: white;
}

.logo {
	margin-left: 5vw;
	font-weight: 300;
}

.nav-bar {
	margin-right: 5vw;
	justify-content: space-evenly;
	font-size: .75em;
}

#nav2 {
	margin: 0px 30px;
}

.textbox {
	height: 25vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	color: #E9E05F;
}

#big {
	font-size: 3.5em;
}

.middle {
	width: 90vw;
	margin: 5vw;
	display: flex;
	flex-direction: column;
}

.row1 {
	height: 175px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.blue-box {
	height: 175px;
	width: 175px;
	border-radius: 15px;
	background-color: #A4FFD7;
}

.row2 {
	display: flex;
	justify-content: space-between;
}

.orange-box {
	margin: 5vw 0vw;
	height: 150px;
	width: 300px;
	background-color: #FFC36C;
}

.row3 {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.smol {
	width: 200px;
	font-size: .75em;
	position: relative;
}

img {
	height: 125px;
	width: 225px;
}

footer {
	height: 9vh;
	background-color: #3A3A56;
}